*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 200px;
    /* align-self: center; */   
}
.contain{
    width: 500px;
    height: 300px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    
}